#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

.list{
  max-width: 300px;
  margin: 0 auto;

}

.card img{
  width: 100%;
  max-width: 1000px;
}

.lang{
  position: fixed;
  right: 5%;
  top: 10px;
  display: flex;
  gap: 10px;
}

.code-list {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}

.code-list li {
  margin-bottom: 5px;
  border-radius: 4px;
  white-space: pre-wrap;
  border: 1px solid #b8b4b4;
}